*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --Blue: hsl(223, 87%, 63%);
  --PaleBlue: hsl(223, 100%, 88%);
  --LightRed: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --VeryDarkBlue: hsl(209, 33%, 12%);
  --White : rgb(255, 255, 255) ;

  
}

body{
  font-family: "Rubik", serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  padding: 3rem;
}

.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}

.header-container img{
  width: 5rem;
}

.header-container .main-header{
  font-size: 2.4rem;
  font-weight: 100;
}

.header-container .main-header span{
  font-weight: 500;
}

.header-container .title{
  font-size: 1rem;
  font-weight: 500;
}

.header-container form{
  display: flex;
  gap: 1rem;
}

form input {
  border-radius: 1rem;
  border: solid 0.01rem;
  width: 70%;
  padding: 0.5rem 3rem;
}

form button {
  background-color: var(--Blue);
  border-radius: 1.1rem;
  border: transparent;
  color: var(--White);
  cursor: pointer;
  width: 35%;
  font-size: 0.7rem;
  font-weight: 600;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--PaleBlue);
}

.dasboard-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.dasboard-container img {
  width: 50%;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

footer p{
  color: var(--Gray) ;
  font-size: 0.7rem;
}

footer ul{
  list-style: none;
  display: flex;
  gap: 1rem;
}

footer ul li i{
  border: 0.01rem solid var(--Gray);
  border-radius: 1rem;
  padding: 0.3rem;
  color: var(--Blue);
}

@media (width < 376px){

  .header-container img{
    width: 2.5rem;
  }

  .header-container .main-header{
    font-size: 1.1rem;
  }

  .header-container .title{
    font-size: 0.7rem;
  }

  form{
    display: flex;
    flex-direction: column;
  }

  form input{
    width: 100%;
  }
   form button{
    width: 100%;
    padding: 0.8rem 0;
   }

   .dasboard-container img{
      width: 100%;
   }
}